.status-card {
  min-height: 130px;
}

.status-card_left {
  color: white;
  padding: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.status-card_right {
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.status-card_number {
  font-size: 2rem;
  margin-top: 10px;
}

.mat-divider {
  width: 30%;
  margin: 0 auto;
  background: white;
}

.status-card_text {
  margin-bottom: 10px;
}

mat-icon {
  font-size: 3.5em;
  margin: 0 20% 15% 0;
}

.long {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 7px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.grid-container {
  margin-top: 2%;
}

.banking-left {
  background-color: #42a5f5;
}

.banking-right {
  background-color: #2196f3;
}

.leads-left {
  background-color: #ff7043;
}

.leads-right {
  background-color: #ff5722;
}

.assets-left {
  background-color: #5c6bc0;
}

.assets-right {
  background-color: #3f51b5;
}

.weather {
  background-image: url('https://farm4.staticflickr.com/3024/3041327437_50687f07c9.jpg');
  color: white;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.weather-item {
  font-size: 2rem;
  padding-top: 0.5rem;
}
