.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #424242;
  color: white;
}

.sidenav a {
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
