.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background: #424242;
  color: white;
}

.sidenav a {
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-toolbar {
  color: white;
}

.icon {
  padding-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.icon-world {
  padding: 0 5px 0 20px;
}

.icon-menu {
  padding: 0 10px 0 0;
}

.spacer {
  flex: 1 1 auto;
}
