<div class="container">

  <mat-tab-group>
    <mat-tab label="Monthly Payment">
      <h1 class="container-title">Mortgage Calculator</h1>
      <form class="calculator" [formGroup]="calcForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="calculator_full-width">
          <input matInput placeholder="Loan Amount" type="number" id="loanAmount" formControlName="loanAmount">
        </mat-form-field>

        <mat-form-field class="calculator_full-width">
          <input matInput placeholder="Interest Rate (%)" type="number" id="interestRate" formControlName="interestRate">
        </mat-form-field>

        <mat-form-field class="calculator_full-width">
          <mat-select placeholder="Mortgage Period (Years)" id="morgPeriod" formControlName="morgPeriod">
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="40">40</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <mat-list>
        <mat-list-item>Monthly Payments: {{ this.monthlyPayment | currency:'USD':"$ ": "1.0" }}</mat-list-item>
        <mat-list-item>Total Principal and Interest: {{ this.totalPaid | currency:'USD':"$ ": "1.0" }} </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Max Loan">
      <h1 class="container-title">Max Loan Amount</h1>
      <form class="calculator" [formGroup]="calcForm2" (ngSubmit)="onSubmit2()">
        <mat-form-field class="calculator_full-width">
          <input matInput placeholder="Monthly Payment" type="number" id="maxPayment" formControlName="maxPayment">
        </mat-form-field>

        <mat-form-field class="calculator_full-width">
          <input matInput placeholder="Interest Rate (%)" type="number" id="interestRate2" formControlName="interestRate2">
        </mat-form-field>

        <mat-form-field class="calculator_full-width">
          <mat-select placeholder="Mortgage Period (Years)" id="morgPeriod2" formControlName="morgPeriod2">
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="40">40</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <mat-list>
        <mat-list-item>Max amount to borrow: {{ this.maxLoan | currency:'USD':"$ ": "1.0"}}</mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>

</div>