/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.container {
  margin: 2% 10%;
  z-index: -1;
}

.container-title {
  color: #3d3b3b;
  text-align: center;
  margin-bottom: 4%;
}
